<ul class="menu-front">
    {{#each model as |item|}}
        <li class="menu-item" {{action 'addToOrder' item}}>
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
            <p>${{item.price}}</p>
        </li>

    {{/each}}
</ul>
{{new-order}}

{{outlet}}
